select {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
}

select:focus {
  border-color: #007bff;
  outline: none;
}

h2 {
  margin-bottom: 20px;
}

/* Custom styles for hover animations and transparent background */
.relative {
  position: relative;
}

.z-0 {
  z-index: 0;
}

.z-10 {
  z-index: 10;
}

/* Optional: Add custom hover effects */
.hover\:text-yellow-500:hover {
  color:rgb(233, 204, 204); /* Tailwind yellow color */
}

.transform {
  transform: scale(1);
}

.transition-transform {
  transition: transform 0.3s ease;
}

.hover\:scale-110:hover {
  transform: scale(1.1);
}

.hover\:scale-105:hover {
  transform: scale(1.05);
}
/* App.css */
.map-container {
  width: 100%;
  height: 50vh;  /* Adjust this based on your screen size preference */
  object-fit: contain;
}


.custom-loading-spinner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f7f7f7;
}

.spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.loading-text {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fadeOut 2s forwards;
}
